body{
    font-family: 'Rubik', sans-serif;
    background-color: hsl(226, 43%, 10%);
}

.container{
    display: grid;
    place-items: center;
    gap: 10px;
    padding: 10% 20% 0 20% ;
}

.card1{
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-column: 1;
    grid-row: 1/3;
    background-color: hsl(235, 46%, 20%);
    width: auto;
    height: 520px;
    /* min-height: 520px; */
    max-height: 520px;
    min-width: 250px;
    max-width: 250px;
    border-radius: 8px;
}

.detail-user{
    background-color: hsl(235, 45%, 61%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10%;
    border-radius: 8px;
    color: white;
}

.user-profile{
    height: 60px;
    width: 60px;
    border: 2px solid white;
    border-radius: 50px;
    margin-bottom: 20px;
}

.periodic{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    padding: 10%;
}

.periodic-weekly{
    color: hsl(236, 100%, 87%);
    padding: 10px;
}

.periodic-monthly,

.periodic-daily{
    color: hsl(235, 45%, 61%);
    padding: 10px;
}

.periodic-monthly:hover,
.periodic-weekly:hover,
.periodic-daily:hover{
    color: hsl(236, 100%, 87%);
    padding: 10px;
}


.card2{
    grid-column: 2;
    grid-row: 1;
    background-color: hsl(235, 46%, 20%);
    width: 250px;
    max-width: 460px;
    height: 250px;
    max-height: 250px;
    border-radius: 8px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.icon-work{
    grid-row: 1;
    background-color: hsl(15, 100%, 70%) ;
    width: auto;
    height: 85px;
    border-radius: 8px;
    padding-right: 5%;
    max-height: 80px;
}

.detail-self,
.detail-social,
.detail-excercise,
.detail-study,
.detail-play,
.detail-work{
    /* border-radius: 8px;
    background-color: gray; */
    /* grid-column: 1/5; */
    border-radius: 8px;
    background-color: hsl(235, 46%, 20%);
    grid-row: 2/6;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;

    /* max-height: 170px; */
    padding: 5%;
    margin-top: -20px;

    color:white;
}


.detail-self:hover,
.detail-social:hover,
.detail-excercise:hover,
.detail-study:hover,
.detail-play:hover,
.detail-work:hover {
    background-color: hsl(235, 45%, 61%)

}


.card3{
    grid-column: 3;
    grid-row: 1;
    background-color: hsl(235, 46%, 20%);
    width: 250px;
    max-width: 460px;
    height: 250px;
    max-height: 250px;
    border-radius: 8px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.icon-play{
    grid-row: 1;
    background-color: hsl(195, 74%, 62%) ;
    width: auto;
    height: 85px;
    border-radius: 8px;
    padding-right: 5%;
    max-height: 80px;
}

.card4{
    grid-column: 4;
    grid-row: 1;
    background-color: hsl(235, 46%, 20%);
    width: 250px;
    max-width: 460px;
    height: 250px;
    max-height: 250px;
    border-radius: 8px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.icon-study{
    grid-row: 1;
    background-color: hsl(348, 100%, 68%) ;
    width: auto;
    height: 85px;
    border-radius: 8px;
    padding-right: 5%;
    max-height: 80px;
}

.card5{
    grid-column: 2;
    grid-row: 2;
    background-color: hsl(235, 46%, 20%);
    width: 250px;
    max-width: 460px;
    height: 250px;
    max-height: 250px;
    border-radius: 8px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.icon-exercise{
    grid-row: 1;
    background-color:hsl(145, 58%, 55%);
    width: auto;
    height: 85px;
    border-radius: 8px;
    padding-right: 5%;
    max-height: 80px;
}

.card6{
    grid-column: 3;
    grid-row: 2;
    background-color: hsl(235, 46%, 20%);
    width: 250px;
    max-width: 460px;
    height: 250px;
    max-height: 250px;
    border-radius: 8px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.icon-social{
    grid-row: 1;
    background-color: hsl(264, 64%, 52%) ;
    width: auto;
    height: 85px;
    border-radius: 8px;
    padding-right: 5%;
    max-height: 80px;
}

.card7{
    grid-column: 4;
    grid-row: 2;
    background-color: hsl(235, 46%, 20%);
    width: 250px;
    max-width: 460px;
    height: 250px;
    max-height: 250px;
    border-radius: 8px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.icon-self{
    grid-row: 1;
    background-color: hsl(43, 84%, 65%);
    width: auto;
    height: 85px;
    border-radius: 8px;
    padding-right: 5%;
    max-height: 80px;
}

@media (max-width: 375px) {
    .container{
        display: grid;
            grid-template-columns: 1fr;
            /* grid-template-rows: 1fr ; */
        /* grid-gap: 10px; */
        padding: 0;

    }

    .card1{
        display: grid;
        grid-column: 1;
        grid-row: 1;
        background-color: hsl(235, 46%, 20%);
        width: auto;
        height: 250px;
    }

    .detail-user{
        background-color: hsl(235, 45%, 61%);
        display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        padding: 10%;
        border-radius: 8px;
        color: white;
        height: 110px;

    }
    .detail-user > p, h1{
        font-size: 1rem;
    } 
    .periodic{
        display: flex;
        flex-direction: row;
        font-weight: bold;
        padding: 10%;
    }

    .detail-self,
    .detail-social,
    .detail-excercise,
    .detail-study,
    .detail-play,
    .detail-work{
    border-radius: 8px;
    background-color: hsl(235, 46%, 20%);
    /* grid-row: 2/6; */
    display: flex;
    flex-direction: column;
    height: 80px;
    padding: 5%;
    margin-top: -20px;
    color:white;
    }
    .card2{
        grid-column: 1;
        grid-row:2;
    }
    .card3{
        grid-column: 1;
        grid-row: 3;
    }
    .card4{
        grid-column: 1;
        grid-row: 4;
    }
    .card5{
        grid-column: 1;
        grid-row: 5;
    }

    .card6{
        grid-column: 1;
        grid-row: 6;

    }

    .card7{
        grid-column: 1;
        grid-row: 7;
    }
}